[general]
active_switch = dell

[headnode]
trunk_nic = eth0

[client]
endpoint = http://127.0.0.1:5000

[database]
uri = sqlite:///haas.db

[switch dell]
user = foo
pass = bar
ip = 192.168.0.2

[switch cisco]
ip = 192.168.0.3
