[headnode]
trunk_nic = eth0

[file_names]
node = data/node.txt
network = data/network.txt
vm = data/vm.txt
switch = data/switch.txt
port = data/port.txt
connect = data/connect.txt
user = data/user.txt

[switch dell]
user = foo
pass = bar
ip = 192.168.0.2
