[Unit]
Description=Service to create bridges
After=libvirtd.service

[Service]
WorkingDirectory = /etc/
ExecStart=/etc/create_bridges
Type=simple

[Install]
WantedBy=multi-user.target

